.about-product {
  display: flex;
  flex-direction: column;
}

.about-product__description {
  display: none;
}

.about-product__wrapper {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-product__container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 26px;
}

.about-product__text {
  @include centring(0 auto, 164px);

  display: block;
  font-weight: 700;
  text-align: center;

  &--small {

    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &--large {
    padding-top: 7px;

    font-size: 30px;
    line-height: 36px;
  }
}

.about-product__photo-product {
  @include centring(0 auto, 144px);
}

.about-product__link-wrapper {
  margin: 0 auto;

  background-color: #7eb252;
}

.about-product__pack-picture {
  padding-top: 22px;
  padding-left: 27px;
}

@media (min-width: $tablet-width) {
  .about-product__wrapper {
    background-image: url("../img/background-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .about-product__container {
    @include centring(0 auto, 273px);

    position: relative;
    padding-bottom: 158px;
  }

  .about-product__text {
    color: $white;
    margin: 0;

    &--small {
      @include text-style(14px, 24px);

      padding-top: 89px;
      padding-left: 105px;

      font-weight: 700;
    }

    &--large {
      @include text-style(50px, 60px);

      padding-top: 16px;
      padding-left: 139px;

      font-weight: 600;
    }
  }

  .about-product__description {
    @include text-style(16px, 24px);

    display: block;
    margin: 0;
    padding-top: 11px;
    padding-left: 142px;
    width: 234px;

    color: $white;
  }

  .about-product__photo-product {
    position: absolute;
    top: 72px;
    left: -254px;
  }

  .about-product__pack-picture {
    object-fit: contain;
    width: 298px;
    height: 648px;
  }
}
