.advantages-list {
  @include centring(0 auto, 298px);

  display: flex;
  flex-direction: column;
  padding: 0;

  list-style: none;
}

.advantages-list__title {
  @include text-style(24px, 24px);

  position: relative;

  display: block;
  padding-top: 59px;
  padding-left: 44px;

  color: #a4c58c;
  font-weight: 600;

  &::after {
    content: "";

    position: absolute;
    top: 88px;
    left: 44px;

    display: block;
    width: 70px;
    height: 4px;

    background-color: #a4c58c;
  }

  &--years {
    padding-top: 42px;

    &::after {
      content: "";

      top: 70px;

      width: 85px;
    }
  }

  &--testimony {
    padding-top: 42px;

    &::after {
      top: 70px;

      width: 130px;
    }
  }

  &--language {
    padding-top: 42px;

    &::after {
      top: 70px;

      width: 85px;
    }
  }
}

.advantages-list__description {
  @include text-style(16px, 24px);

  width: 207px;
  margin: 0;
  padding-top: 32px;
  padding-left: 43px;

  color: $black;

  &--years {
    width: 180px;
  }

  &--testimony {
    width: 198px;
  }
}

@media (min-width: $tablet-width) {
  .advantages-list {
    @include centring(0 auto, 578px);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 330px;
    padding-left: 78px;
  }

  .advantages-list__item:nth-child(odd) {
    width: 222px;
    margin-right: 111px;
    margin-bottom: 109px;
  }

  .advantages-list__title {
    @include text-style(30px, 24px);

    padding-top: 0;
    padding-left: 0;

    font-weight: 600;

    &::before {
      content: "";

      position: absolute;
      top: -35px;
      left: -41px;

      display: block;
      width: 15px;
      height: 15px;

      border: 6px solid #e4eddc;
      border-radius: 50%;
    }

    &::after {
      content: "";

      top: 31px;
      left: 1px;

      width: 90px;
    }

    &--years {
      &::after {
        content: "";

        width: 100px;
      }
    }

    &--testimony {
      &::after {
        content: "";

        width: 151px;
      }
    }

    &--language {
      &::after {
        content: "";

        width: 100px;
      }
    }
  }

  .advantages-list__description {
    @include text-style(16px, 24px);

    padding-top: 35px;
    padding-left: 0;
  }
}
