.create-product {
  display: flex;
  flex-direction: column;
}

.create-product__title {
  @include centring(0 auto, 280px);
  @include text-style(24px, 30px);

  padding-top: 54px;

  color: $black;
  font-weight: 700;
  text-align: center;
}

.create-product__description {
  @include centring(0 auto, 298px);
  @include text-style(14px, 22px);

  padding-top: 21px;

  color: $black;
}

.create-product__bold {
  @include centring(0 auto, 272px);
  @include text-style(12px, 20px);

  display: block;
  padding-top: 12px;
  padding-bottom: 38px;

  color: $black;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .create-product {
    @include centring(0 auto, 640px);

    display: flex;
    flex-direction: column;
    margin-top: 63px;

    border: 1px solid $green;
  }

  .create-product__title {
    @include centring (0 auto, 550px);
    @include text-style(40px, 50px);

    padding-top: 60px;

    font-weight: 700;
  }

  .create-product__description {
    @include centring(0 auto, 520px);
    @include text-style(16px, 22px);

    padding-top: 48px;

    &--second {
      padding-top: 16px;
    }
  }

  .create-product__bold {
    @include centring(0 auto, 463px);
    @include text-style(14px, 20px);

    padding-top: 30px;
    padding-bottom: 61px;

    font-weight: 700;
    text-align: left;
  }

  .create-product__br {
    display: none;
  }
}
