.diseases-cases {
  display: flex;
  flex-direction: column;
}

.diseases-cases__bold-text {
  @include centring(0 auto, 298px);
  @include text-style(24px, 30px);

  display: block;
  padding-top: 45px;
  padding-bottom: 22px;

  color: $black;
  font-weight: 700;
  text-align: center;
}

.diseases-cases__color-wrapper {
  background-color: $grey;
}

.diseases-cases__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  list-style: none;
}

.diseases-cases__row {
  list-style: none;
  padding: 0;
}

.diseases-cases__item {
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 298px;

  border-bottom: 1px solid #e6efde;

  &--no-uppercase {
    padding-top: 32px;
  }

  &--no-border {
    border: none;
  }
}

.diseases-cases__item-wrapper {
  @include centring(0 auto, 298px);

  display: flex;
  flex-direction: row;
  margin: 0;
}

.diseases-cases__description {
  display: block;
  padding-left: 13px;
  width: 248px;

  color: $black;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;

  &--green {
    padding-left: 0;
    width: 20px;

    color: #a4c58c;
  }

  &--no-uppercase {
    font-weight: $regular;
    text-transform: none;
  }
}

.diseases-cases__facts-wrapper {
  @include centring(0 auto, 296px);

  margin-bottom: 20px;

  border: 1px solid #e6efde;
  border-bottom: none;
}

.diseases-cases__facts {
  @include text-style(14px, 24px);

  position: relative;

  margin: 0;
  padding-top: 34px;
  padding-bottom: 10px;
  padding-left: 19px;

  color: $black;

  &::before {
    content: "";

    position: absolute;
    bottom: -25px;
    right: 0;

    width: 85px;
    height: 1px;

    background-color: #e6efde;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: -25px;
    left: 0;

    width: 85px;
    height: 1px;

    background-color: #e6efde;
  }
}

.diseases-cases__link {
  @include text-style(14px, 24px);

  display: block;
  padding-left: 94px;
  padding-top: 10px;

  color: #7eb152;
  font-weight: 600;

  text-decoration: underline;
}

@media (min-width: $tablet-width) {
  .diseases-cases__color-wrapper {
    background-color: $white;
  }

  .diseases-cases__bold-text {
    @include text-style(30px, 40px);

    padding-top: 28px;
    padding-bottom: 42px;
    width: 352px;

    font-weight: 700;
  }

  .diseases-cases__list {
    margin-bottom: 0;

    background-color: $grey;
  }

  .diseases-cases__item {
    @include centring(0 auto, 653px);

    &--seven {
      order: 1;
    }

    &--eight {
      order: 0;
    }

    &--nine {
      order: 1;
    }

    &--no-uppercase {
      padding-top: 23px;
    }
  }

  .diseases-cases__item-wrapper {
    @include centring(0 auto, 653px);

    &--no-uppercase {
      width: 303px;
    }
  }

  .diseases-cases__description {
    @include text-style(14px, 20px);

    padding-left: 21px;

    font-weight: 600;

    width: 653px;

    &--green {
      padding-left: 0;
      width: 20px;
    }

    &--no-uppercase {
      @include text-style(16px, 20px);

      width: 277px;
    }
  }

  .diseases-cases__row {
    @include centring(0 auto, 653px);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;

    list-style: none;
  }

  .diseases-cases__row > .diseases-cases__item {
    margin: 0;
    width: 303px;

    &--seven {
      border-bottom: none;
    }

    &--eight {
      width: 260px;
    }

    &--nine {
      width: 260px;
    }

    &:nth-child(n+3) {
      padding-left: 87px;
    }
  }

  .diseases-cases__background-wrapper {
    margin-bottom: 40px;
    padding-top: 681px;

    background-image: url("../img/men.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .diseases-cases__position-wrapper {
    position: relative;

    margin: 0 auto;
    width: 10px;
  }

  .diseases-cases__facts-wrapper {
    position: absolute;
    bottom: -40px;
    left: -204px;
    z-index: 1;

    box-sizing: border-box;
    padding-top: 23px;
    padding-left: 23px;
    padding-right: 23px;
    width: 417px;

    background-color: #f6f9f3;
    border: none;
  }

  .diseases-cases__facts {
    @include centring(0 auto, 373px);
    @include text-style(16px, 24px);

    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 32px;
    padding-left: 46px;

    border: 1px solid $green;
    border-bottom: none;

    &::before {
      content: "";

      bottom: -1px;
      right: -1px;

      width: 127px;

      background-color: $green;
    }

    &::after {
      content: "";

      bottom: -1px;
      left: -1px;

      width: 122px;

      background-color: $green;
    }
  }

  .diseases-cases__link {
    @include text-style(14px, 24px);

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 128px;

    font-weight: 600;
  }
}
