.history-product {
  display: flex;
  flex-direction: column;
  padding-top: 53px;

  background-color: $grey;
}

.history-product__title {
  @include centring(0 auto, 298px);
  @include text-style(20px, 26px);

  padding-bottom: 17px;

  color: $black;
  font-weight: bold;
  text-align: center;
}

.history-product__description {
  @include centring(0 auto, 298px);
  @include text-style(14px, 24px);

  position: relative;

  color: $black;

  &--part2 {
    padding-top: 10px;
  }

  &--part3 {
    padding-top: 13px;
  }
}

.history-product__tablet-indent {
  display: none;
}

.history-product__wrapper {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    bottom: -405px;
    left: 0;

    display: block;
    width: 100%;
    height: 382px;

    background-image: url("../img/man.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.history-product__form {
  display: flex;
  flex-direction: column;
  padding-top: 432px;
}

.history-product__container {
  @include centring(0 auto, 298px);

  border: none;
}

.history-product__sub-title {
  @include text-style(14px, 22px);

  padding-bottom: 23px;

  color: $black;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.history-product__wrapper-form {
  margin: 0;
  padding-bottom: 25px;
}

.history-product__mail {
  @include text-style(14px, 24px);

  padding-bottom: 5px;
  width: 298px;

  color: #a8c48c;
  text-align: center;

  border: none;
  border-bottom: 1px solid #cddcbc;
}

@media (min-width: $tablet-width) {
  .history-product {
    padding-top: 213px;
  }

  .history-product__title {
    @include text-style(30px, 40px);

    padding-bottom: 31px;
    width: 429px;

    font-weight: 700;
  }

  .history-product__br {
    display: none;
  }

  .history-product__description {
    @include text-style(16px, 24px);

    width: 706px;
  }

  .history-product__mobile-indent {
    display: none;
  }

  .history-product__tablet-indent {
    display: inline;
  }

  .history-product__wrapper {
    padding-bottom: 94px;

    &::after {
      content: "";

      background-image: none;
    }
  }

  .history-product__container {
    position: relative;

    margin: 0;
    padding-left: 42px;
    width: 310px;

    &::after {
      content: "";

      position: absolute;
      top: -209px;
      right: -362px;

      display: block;
      width: 352px;
      height: 419px;

      background-image: url("../img/man-tablet.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .history-product__form-container {
    background-color: $white;
  }

  .history-product__form {
    @include centring(0 auto, 724px);

    padding-top: 54px;
  }

  .history-product__wrapper-form {
    padding-bottom: 36px;
  }

  .history-product__sub-title {
    @include text-style(14px, 22px);

    padding-bottom: 42px;
    width: 229px;

    text-align: left;
    font-weight: 700;
  }

  .history-product__mail {
    width: 280px;

    text-align: left;
  }
}
