.product-package {
  display: flex;
  flex-direction: column;
  padding-top: 55px;

  background-color: $grey;
}

.product-package__title {
  @include centring(0 auto, 249px);
  @include text-style(24px, 30px);

  color: $black;
  font-weight: 700;
  text-align: center;
}

.product-package__br {
  display: none;
}

.product-package__list {
  @include centring(0 auto, 246px);

  padding-left: 0;

  list-style: none;
}

.product-package__item {
  padding-bottom: 107px;

  &--first {
    padding-top: 94px;
  }

  &--last {
    padding-bottom: 75px;
  }
}

.product-package__number {
  @include text-style(130px, 19px);

  position: relative;

  display: block;

  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  &--jug {
    &::after {
      content: "";

      position: absolute;
      top: -37px;
      left: 76px;

      display: block;
      width: 89px;
      height: 91px;

      background-image: url("../img/chaska.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &--book {
    &::after {
      content: "";

      position: absolute;
      top: -21px;
      left: 72px;

      display: block;
      width: 100px;
      height: 91px;

      background-image: url("../img/kniga.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &--diploma {
    &::after {
      content: "";

      position: absolute;
      top: -26px;
      left: 77px;

      display: block;
      width: 86px;
      height: 91px;

      background-image: url("../img/gramota.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.product-package__description {
  @include text-style(12px, 19px);

  display: block;
  padding-top: 63px;

  color: $black;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-package {
    padding-top: 93px;
  }

  .product-package__title {
    @include centring(0 auto, 605px);
    @include text-style(30px, 40px);

    font-weight: 700;
  }

  .product-package__br {
    display: inline;
  }

  .product-package__list {
    @include centring(0 auto, 724px);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-bottom: 99px;

    background-color: $white;
  }

  .product-package__item {
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 14px;
    padding: 0;
    width: 220px;

    border: 1px solid #ecf3e7;
  }

  .product-package__number {
    @include text-style(110px, 14px);

    padding-top: 84px;

    color: #f7f9f3;
    font-weight: 900;

    &--jug {
      &::after {
        content: "";

        top: 63px;
        left: 76px;

        width: 61px;
        height: 61px;

        background-image: url("../img/chaska-tablet.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &--book {
      &::after {
        content: "";

        top: 65px;
        left: 69px;

        width: 75px;
        height: 55px;

        background-image: url("../img/kniga-tablet.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &--diploma {
      &::after {
        content: "";

        top: 65px;
        left: 76px;

        width: 63px;
        height: 54px;

        background-image: url("../img/gramote-tablet.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }

  .product-package__description {
    padding-top: 53px;
    padding-bottom: 53px;
  }
}
